<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/superhero/bootstrap.min.css" rel="stylesheet" >
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-5">Alivio</h1>
            <p class="lead">Debt management client application</p>
        </div>
    </div>
    <title>Enter your details to see your debts</title>
    <!--<link href="signin.css" rel="stylesheet">-->
</head>
<body>

<div class="container">
    <div th:insert="fragments :: debtorHeader"></div>
    <div th:insert="fragments :: balance"></div>
</div>
<div class="container">

    <form class="form-signin" action="#" th:action="@{/payment}" th:object="${paymentForm}" method="post">

        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">M&M Alivio Team</h1>
            <p th:text="#{lang.enterDetailsToPayOff}">Enter your details to pay your debt</p>
        </div>

        <div class="form-label-group">
            <label th:text="#{lang.debtId}"  for="debtUuid">Debt Id</label>
            <input type="text" id="debtUuid" class="form-control" placeholder="Debt Id" required autofocus
                   th:field="*{debtUuid}">
            <p th:if="${#fields.hasErrors('debtUuid')}" th:errors="*{debtUuid}" class="error">debtUuid Error</p>
        </div>

        <div class="form-label-group">
            <label th:text="#{lang.payedSum}" for="payment.paymentAmount">Payment amount</label>
            <input type="text" id="payment.paymentAmount" class="form-control" placeholder="Payment amount" required
                   th:field="*{payment.paymentAmount}">
            <p th:if="${#fields.hasErrors('payment.paymentAmount')}" th:errors="*{payment.paymentAmount}" class="error">
                Payment amount Error</p>
        </div>

        <div class="form-label-group">
            <label th:text="#{lang.cCNumber}" for="payment.creditCard.ccNumber">ccNumber</label>
            <input type="text" id="payment.creditCard.ccNumber" class="form-control" placeholder="ccNumber" required
                   th:field="*{payment.creditCard.ccNumber}">
            <p th:if="${#fields.hasErrors('payment.creditCard.ccNumber')}" th:errors="*{payment.creditCard.ccNumber}"
               class="error">ccNumber Error</p>
        </div>

        <div class="form-label-group">
            <label th:text="#{lang.cvv}"  for="payment.creditCard.cvv">cvv</label>
            <input type="text" id="payment.creditCard.cvv" class="form-control" placeholder="cvv" required
                   th:field="*{payment.creditCard.cvv}">
            <p th:if="${#fields.hasErrors('payment.creditCard.cvv')}" th:errors="*{payment.creditCard.cvv}"
               class="error">cvv Error</p>
        </div>

        <div class="form-label-group">
            <label th:text="#{lang.network}"  for="payment.creditCard.issuingNetwork">Issuing network</label>
            <input type="text" id="payment.creditCard.issuingNetwork" class="form-control" placeholder="Issuing network"
                   required th:field="*{payment.creditCard.issuingNetwork}">
            <p th:if="${#fields.hasErrors('payment.creditCard.issuingNetwork')}"
               th:errors="*{payment.creditCard.issuingNetwork}" class="error">issuingNetwork Error</p>
        </div>

        <div class="form-label-group">
            <label th:text="#{lang.firstName}"  for="payment.creditCard.firstName">First name</label>
            <input type="text" id="payment.creditCard.firstName" class="form-control" placeholder="First name" required
                   th:field="*{payment.creditCard.firstName}">
            <p th:if="${#fields.hasErrors('payment.creditCard.firstName')}" th:errors="*{payment.creditCard.firstName}"
               class="error">First name Error</p>
        </div>

        <div class="form-label-group">
            <label th:text="#{lang.lastName}" for="payment.creditCard.lastName">Last name</label>
            <input type="text" id="payment.creditCard.lastName" class="form-control" placeholder="Last name" required
                   th:field="*{payment.creditCard.lastName}">
            <p th:if="${#fields.hasErrors('payment.creditCard.lastName')}" th:errors="*{payment.creditCard.lastName}"
               class="error">Last name Error</p>
        </div>

        <div class="form-label-group">
            <label th:text="#{lang.expDate}" for="payment.creditCard.expDate">Exp. date</label>
            <input type="date" id="payment.creditCard.expDate" class="form-control" placeholder="Exp. date" required
                   th:field="*{payment.creditCard.expDate}">
            <p th:if="${#fields.hasErrors('payment.creditCard.expDate')}" th:errors="*{payment.creditCard.expDate}"
               class="error">Exp. date Error</p>
        </div>

        <button th:text="#{lang.makePayment}" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <div>
            <span th:unless="${errorMsg} == ''" th:text="${errorMsg}" class="error"/>
        </div>
        <div th:insert="fragments :: footer"></div>
    </form>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
</body>
</html>
